*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(https://i.imgur.com/AE0bEE6.jpeg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    background: rgb(255 255 255 / 0%)   ;
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    width: 320px;
    color: white;
    box-shadow: 0px 0px 100px rgb(0, 0, 0);
}

.login-container h2{
    margin-bottom: 20px;
    text-shadow: 0 0 15px black;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;   
    /* margin-left: 18%; */
}
.input-group input {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-group input:focus {
    border: 2px solid #4CAF50;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    border: none;
}

input {
    padding: 5px 21px;
}



.fa-solid, .fas {
    font-size: 12px;
}

.btn:hover {
    background: #0bed1e31;
}

.error {
    font-weight: 600;
    color: red;
    padding: 5px;
    font-size: 14px;
    margin-top: 20px;
}

.toggle-password {
    cursor: pointer;
    margin: 2px;
}